.carousel-item img{
    width: 93% !important;
    height: 400px;
    /* display: flex;
    
    justify-content: center;
    align-items: center; */
    margin: auto;
    object-fit: fill; 
    
}

.but button:hover{
    transform: translate(-3%, -3%);
    /* animation: shake 0.1s; */
    box-shadow: 2px 0px 0px 0px;
    cursor: pointer;
}
.leftSide{
    /* background: url('../../Assets/img/img4.png'); */
    /* left: 3rem; */
    width: 100px;
    
    /* object-fit: contain; */
    /* top: 1rem; */
    z-index: 100;
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* display: flex; */
    /* justify-content: start; */

}
.rightSide{
    /* background: url('../../Assets/img/rightSde.png'); */
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* display: flex; */
    /* top: 1.4rem; */
    width: 100px;
    z-index: 100;
    right: 0vw;
}
.but button{
    display: flex;
    padding: 10px;
    flex: 0.20;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(75, 28, 169);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.threecards{
    display: flex;

}