.carousel-item img{
    width: 93% !important;
    height: 400px;
    /* display: flex;
    
    justify-content: center;
    align-items: center; */
    margin: auto;
    /* object-fit: contain;  */
    
}
.leftSide{
    background: url('../../Assets/img/img4.png');
    left: 0.3rem;
    /* object-fit: contain; */
    top: -0.4rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: start;

}
.rightSide{
    background: url('../../Assets/img/rightSde.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    top: -0.4rem;
    right: -10.5vw;
}
.but button{
    display: flex;
    padding: 10px;
    flex: 0.20;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(75, 28, 169);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.threecards{
    display: flex;

}