* {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(0.55turn, #170126, #27063e, #170126) !important; */
    background-color: rgb(24, 24, 43);
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    /* padding: 2px;
    margin: 2px;
    border: 2px solid red; */
    
}
body{
    
   
    width: 90%;
    margin: auto;
   
    border: 2px solid white;
}

.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}